.Checking{
    display: block;
}

.full{
    display: none;
    padding: 100px;
    gap: 30px;
}
.full show{
    display: block;
}

.left{
    font-size: 20px;
    padding: 20px;
    font-weight: 400;
    font-style: italic;
    border-right: 2px solid black;
}
.right{
    padding-top: 60px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}